body {
  text-align: center;
  background-color: #011F3F;
  position: relative;
}

hr {
border: 1px solid white;
}

.game-host {
  font-size: 2rem;
  margin:  1%;
  color: orange;
}

.presents-text {
    font-size: 1rem;
    margin:  1%;
    color: white;
}

.game-title {
  font-size: 3rem;
  margin:  1%;
  color: Cyan;
}

.no-break {
  white-space: nowrap;
}

.host-image {
  height : 4rem;
  width: 4rem;
}
.container-fluid {
  padding: 1% 15%;
}

.social-icon {
    margin: 20px 10px;
}

.copyright {
  margin-top : 1%;
}

.white-section {
  background-color: #fff;
}

.footer-section {
  position: absolute;
  margin-bottom: 0px;
  width: 100%;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin:  2%;
  color: #FEF2BF;
}

 #score {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  1%;
  color: #ff4c68;
}

.container {
  display: block;
  width: 50%;
  margin: 5% auto 30%;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
